<li class="nav-dropdown-container">
  <a class="nav-link<%- page.path.match(/(Translate(?!\/team.html$)|api|examples|cookbook)/) ? ' current' : '' %>">Translate</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="<%- url_for("/Translate/es6/") %>" class="nav-link<%- page.path.match(/Translate/) ? ' current' : '' %>">es6</a></li>
      <!-- <li><a href="<%- url_for("/JavaScript/api/") %>" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li> -->
      <!-- <li><a href="<%- url_for("/JavaScript/examples/") %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">示例</a></li> -->
    </ul></li>
  </ul>
</li>